<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Search Weather</title>
</head>
<body>
    {{>Nav}}
    <h1>Today's weather</h1>
    <h2>Enter a city &amp country then click search</h2>
    <br>
   
    <form action="/" method="POST">
        <label for="city">city</label>
        <input required type="text" name="city">
        <label for="country">country</label>
        {{#if countries}}
        <select name="country">
            {{#each countries}}
            <option value={{this.alpha2Code}}>{{this.name}}</option>
            {{/each}}
        </select>
        {{/if}}
        {{#else}}
        <input required type="text" name="country">
        {{/else}}
        <button type="submit">search</button>
    </form>

    <div class="image-container">
    {{!-- the if statement checks if the imageIcon has any value passed into it and only displays it if it does --}}
    {{#if imageIcon}}

    <img src="http://openweathermap.org/img/wn/{{imageIcon}}@2x.png" alt="weather image">

    {{/if}}
    </div>

    <table class="city-table">
        <tr class="city">
            <td>City</td>
            <td>{{city}}, {{country}}</td>
        </tr>
         <tr>
            <td>local time</td>
            <td>{{localTime}}</td>
        </tr>
         <tr>
            <td>sunrise</td>
            <td>{{sunrise}}</td>
        </tr>
          <tr>
            <td>sunset</td>
            <td>{{sunset}}</td>
        </tr>
        <tr>
            <td>temperature °C</td>
            <td>{{temperature}}</td>
        </tr>
        <tr>
            <td>feels like °C</td>
            <td>{{feels_like}}</td>
        </tr>
        <tr>
            <td>wind speed m/s</td>
            <td>{{wind_speed}}</td>
        </tr>
        <tr> 
            <td>weather</td> 
            <td>             
                    {{#each weather}}
                    {{this.description}}<br>
                    {{/each}}    
            </td>  
        </tr>
    </table>
</body>
</html>